name: Documentation

on:
  push:
    branches:
      - master # update to match your development branch (master, main, dev, trunk, ...)
    paths:
      - 'src/**'
      - 'docs/**'
      - '.github/workflows/Documentation.yml'
      - 'Project.toml'
    tags: '*'
  pull_request:
    branches:
      - master # update to match your development branch (master, main, dev, trunk, ...)
    paths:
      - 'src/**'
      - 'docs/**'
      - '.github/workflows/Documentation.yml'
      - 'Project.toml'
  workflow_dispatch:
jobs:
  build:
    permissions:
      contents: write
      statuses: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.12'
      - name: Install dependencies
        run: julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # If authenticating with GitHub Actions token
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }} # If authenticating with SSH deploy key
          GKSwstype: "100"
        run: julia --project=docs/ docs/make.jl